<form method="post" action="{{ path('marcacoes_delete', {'id': marcaco.id}) }}" onsubmit="return confirm('Tem a certeza que pretender eliminar esta marcação?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marcaco.id) }}">
    <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
</form>