{% block footer %}
<div class="py-3">
    <div class="row">
        <div class="col-md-12">
            <footer class="mx-auto pt-1 mt-1">
                <div class="container">
                    <div class="row text-center d-md-flex align-items-center bg-dark text-info">
                        <div class="col">
                            <p class="d-block mb-0 ml-3 mr-5 py-1 mx-auto text-left">Mystic Nails and Body</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 mr-3 ml-5 py-1 mx-auto text-right">©2020 Todos os direitos reservados.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}