<form method="post" action="{{ path('clientes_delete', {'id': cliente.id}) }}" onsubmit="return confirm('Tem a certeza que pretender eliminar este cliente?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
</form>
